In [4]:
import plotly.plotly as py
import plotly.graph_objs as go

import numpy as np
import pandas as pd

In [41]:
df = pd.read_csv('train.csv')
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [42]:
print(df.shape)

(1460, 81)

In [43]:
df = df[df.GarageArea != 0]
df = df[df.TotalBsmtSF != 0]
#remove outlier
df = df[df.TotalBsmtSF < 4000]
df.shape

(1348, 81)

In [60]:
trace1 = go.Scatter(
    x = df['GarageArea'],
    y = df['SalePrice'],
    name = 'Garage Area',
    mode = 'markers',
    marker = dict(
        size = 10,
        color = 'rgba(65,105,225, .8)',
        line = dict(
            width = 2,
            color = 'rgb(0, 0, 0)',
        )
    )
)

trace2 = go.Scatter(
    x = df['TotalBsmtSF'],
    y = df['SalePrice'],
    name = 'Basement Area',
    mode = 'markers',
    marker = dict(
        size = 10,
        color = 'rgba(34,139,34, .9)',
        line = dict(
            width = 2,
        )
    )
)

In [69]:
data = [trace1,trace2]

layout = dict(title = 'Correlation Between House Price ($) and Garage/Basement Area (sf)',
              yaxis = dict(zeroline = True, showgrid = False),
              xaxis = dict(zeroline = True, showgrid = False),
             )

fig = dict(data=data, layout=layout)
py.iplot(fig, filename='styled-scatter')